/* CSS for StaffGradedAssignmentXBlock */

.sga-block .grade-modal.modal, .leanModal_box {
    bottom: auto;
}

.course-wrapper .course-content .sga-block .staff-modal {
    overflow: hidden;
    width: 100%;
    left: 0 !important; /* important is necessary to override modal JS styling */
    margin-left: 0 !important; /* important is necessary to override modal JS styling */
}

.sga-block .staff-modal .inner-wrapper {
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
}

.sga-block table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}

.sga-block table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}

.sga-block table.gridtable th.small_width {
    width: 100px;
}

.sga-block table.gridtable th.normal_width {
    width: 220px;
}

.sga-block table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}

.sga-block .upload {
    position: relative;
}

.sga-block .upload button {
    position: absolute;
    top: 1px;
    left: 0px;
    z-index: 1;
    cursor: pointer;
}

.sga-block .upload .fileupload {
    position: relative;
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
    width: 200px;
    cursor: pointer;
}

.sga-block .error {
    color: red;
}

.modal-type-edx_sga .wrapper-comp-settings .list-input.settings-list .field.comp-setting-entry {
   padding: 10px;
}

.modal-type-edx_sga .comp-setting-entry {
   padding: 10px;
   margin-right: 10px;
   overflow: auto;
   margin: 0;
   font-size: 11px;
   float: right;
   width: 100%;
   height: auto;
   resize: none;
   box-sizing: border-box;
   border-bottom: 1px #e5e5e5;
   box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.1);
   font-family:'Open Sans', sans-serif;
   color: #4c4c4c;
   outline: 0;
}

.modal-type-edx_sga .setting-label{
    font-weight: bold;
    margin-left: 5px;
}

.modal-type-edx_sga .setting-input{
    margin-left: 15px;
    width: 30%;
}

.modal-type-edx_sga .setting-help{
    margin-top: 10px;
    margin-left: 5px;
}

.modal-type-edx_sga ul.editor-modes.action-list.action-modes {
   top: 4px;
   position: relative;
}

.modal-type-edx_sga ul.editor-modes.action-list.action-modes li {
  background-color: #646464;
  display: block;
  padding: 5px 10px;
  border-radius: 4px;
  color: #FFF;
  text-transform: uppercase;
  font-size: 15px;
  text-shadow: 0px 0px 2px #333;
  width: 90px;
  text-align: center;
  margin-left: auto;
  height: auto;
}

.modal-type-edx_sga ul.editor-modes.action-list.action-modes li a:hover {
    background: #777;
    color: #FFF;
}

.sga-block a.button {
    background-color: #E5E4E3;
    border: 1px solid #cec5c5;
    border-radius: 2px;
    text-decoration: none;
    -moz-user-select: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    top: 0px;
    left: 0px;
    z-index: 2;
    padding: 2px;
    color: #333346;
    font-weight: bold;
    font-size: 0.8125em;
    margin-top: 1px;
    height: 20px;
    cursor: pointer;
}

.sga-block td .upload button {
    box-sizing: border-box;
    padding: 0;
    height: 20px;
    cursor: pointer;
}

.sga-block a.button, .sga-block td .upload button{
    width: 100%;
    max-width: 200px;
}

.sga-block .display_name {
    color: inherit;
}

span.need_recheck {    
    color: red;
    display: block;
    text-align: center;
}

#comment-input{
    height: 120px;
}
